<div class="row">
    <div class="col-md-6">
        <img src="img/background1.jpg" class="img-circle img-responsive" id="about-image"></img>
    </div>
    <div class="col-md-6" id="about">
        <h2>GroveMonitor</h2>
        <p>
            The project was created out of necessity by a group of urban farmers. They needed to be able to monitor their different 
            hydroponic groves located all over the city, and not just any city but one of the biggest and most timecostly to travel arround,
            Mexico DF.
        </p>
        <p>
            Near the end of 2014, <strong>XOXOC S. de R.L. de C.V.</strong> was born, and with it the necessity of a cheap and reliable way to monitor 
            hydroponic environment variables such as: reservoir <i>pH</i>, <i>EC</i> and <i>temperature</i>; greenhouse <i>temperature</i>, <i>humidity</i> and <i>light intensity</i>
            in the grove.
        </p>
        <p>
            By 2016 Xoxoc decided it was time to take a new step forward, they began to "conquer" rooftops all across the city
            with their model that had been tested and improved for 2 years. But this meant that they'd have to hire more 
            experts to <i>keep an eye</i> on their groves and share their secret knowledge with them...
        </p>
        <p>
            Instead of doing so, the team decided it was time to develop their well thought platform, and while they were at it, 
            they fell inlove with open source and decided to run it publicly! And so, <strong>GroveMonitor</strong> was born...
        </p>
        
    </div>
</div>
<div class="row social-networks">
    <div class="col-md-2 col-md-offset-3">
        <a href="instagram.com" class="btn btn-info btn-block">
            <i class="fa fa-instagram fa-3x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="facebook.com" class="btn btn-primary btn-block">
            <i class="fa fa-facebook fa-3x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="youtube.com" class="btn btn-danger btn-block">
            <i class="fa fa-youtube fa-3x"></i>
        </a>
    </div>
</div>


