<div class='monitor-content'>
    <div class='row col-md-12 col-sm-12 col-xs-12 monitor-info'>
        <div class='monitorNameStatus col-md-6 col-sm-5 col-xs-4'>
            <h3 class='monitorName'><strong>{{monitor.name}}</strong></h3>
            <span class="monitorStatus" ng-hide="!monitor.status || !mainRPi.status">Connected</span>
            <span class="monitorStatus" ng-hide="monitor.status && mainRPi.status">Disconnected</span>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-3 col-md-offset-3 col-sm-offset-10 col-xs-offset-5 monitorSettings">
            <button type='submit' class="btn deactivate-monitor" ng-click="toggleMonitorSettings()" ng-class="{active:monitorSettings}">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div ng-show="!monitorSettings">
        <ul class="nav nav-pills nav-stacked col-md-2 col-sm-2 col-xs-3">
            <li class="active"><a data-toggle="tab" ng-attr-data-target="{{'#now'+monitor.monitorID}}"><strong>Now</strong></a></li>
            <li><a data-toggle="tab" ng-attr-data-target="{{'#historic'+monitor.monitorID}}"><i class="fa fa-line-chart"></i></a></li>
        </ul>
        <div class="tab-content activeMonitor-content col-md-9 col-sm-9 col-xs-9">
            <div class="tab-pane active" ng-attr-id="{{'now'+monitor.monitorID}}">
                <sensor ng-repeat='sensor in monitor.sensors'></sensor>
            </div>
            <div class="tab-pane fade" ng-attr-id="{{'historic'+monitor.monitorID}}">
                <form ng-attr-id="{{'historic-form'+monitor.monitorID}}">
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label class='historicForm-title' for="fromDate">Start Date</label>
                        <input type="date" class="form-control" ng-attr-id="{{'fromDate'+monitor.monitorID}}" 
                        ng-model="historicForm[monitor.monitorID].fromDate">
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label class='historicForm-title' for="toDate">End Date</label>
                        <input type="date" class="form-control" ng-attr-id="{{'toDate'+monitor.monitorID}}" 
                        ng-model="historicForm[monitor.monitorID].toDate">
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label class='historicForm-title' for="sensorSelect">Sensor</label>
                        <select class="form-control" id="sensorSelect" ng-model="historicForm[monitor.monitorID].type">
                            <option ng-repeat="sensor in monitor.sensors" value='{{sensor}}'> 
                                <!-- TODO: Show these options as icons, not the sensor keyword https://github.com/FortAwesome/Font-Awesome/issues/996 -->
                                <span>{{sensor}}</span>
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-3 graph-button">
                        <button type="submit" class="btn btn-success" ng-click="historicReadings(monitor.monitorID)">Graph</button>
                    </div>
                </form>
                <nvd3 options="graphOptions[monitor.monitorID]" data="monitorData[monitor.monitorID]"></nvd3>
            </div>
        </div>
    </div>
    <div ng-show="monitorSettings">
        <ul class="nav nav-pills nav-stacked col-md-2 col-sm-2 col-xs-3">
            <li class="active"><a data-toggle="tab" ng-attr-data-target="{{'#generalSettings'+monitor.monitorID}}" 
            ng-click="deactivateEdit()">
                <strong>General</strong></a>
            </li>
            <li ng-repeat="sensor in monitor.sensors">
                <a data-toggle="tab" ng-attr-data-target="{{'#'+sensor+monitor.monitorID}}" 
                ng-click="deactivateEdit();setCalibrationData(sensor,'firstPoint')">
                    <strong><i ng-class="monitor[sensor].nameIcon"></i><span>{{monitor[sensor].nameText}}</span></strong>
                </a>
            </li>
            
        </ul>
        <div class="tab-content monitorSettingsContent col-md-9 col-sm-9 col-xs-9">
            <div class="tab-pane active" ng-attr-id="{{'generalSettings'+monitor.monitorID}}">
                <span class="col-md-offset-6 col-sm-offset-6 col-xs-offset-6 settingsTitle"><i class="fa fa-cog"></i></span>
                <table class="settingsTable" width="100%">
                    <tr>
                        <td><strong>Name:</strong></td>
                        <td>
                            <span ng-hide='monitorNameEdit'>{{monitor.name}}</span>
                            <input type='text' placeholder='{{monitor.name}}' ng-hide='!monitorNameEdit' ng-model="newMonitorName"></input>
                        </td>
                        <td>
                            <i class="fa fa-pencil-square-o editButton" ng-hide='monitorNameEdit || !monitor.status'
                            ng-click='toggleMonitorNameEdit()'></i>
                            <i class="fa fa-check editButton" ng-hide='!monitorNameEdit' ng-click='editMonitorName(); deactivateEdit()'></i>
                            <i class="fa fa-times editButton" ng-hide='!monitorNameEdit' ng-click='deactivateEdit()'></i>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Add Sensor:</strong></td>
                        <td>
                            <select class="form-control" id="sensorSelect" ng-model="settings.newSensor">
                                <option ng-repeat="sensor in availableSensors" value='{{sensor}}'> 
                                    <!-- TODO: Show these options as icons, 
                                    not the sensor keyword https://github.com/FortAwesome/Font-Awesome/issues/996 -->
                                    <span>{{sensor}}</span>
                                </option>
                            </select>
                        </td>
                        <td><i class="fa fa-plus-square editButton" ng-hide="settings.newSensor==''"
                            ng-click='addSensor()'></i>
                        </td>
                    </tr>
                </table>
            </div>
            <sensorsettings ng-repeat="sensor in monitor.sensors" class="tab-pane fade" ng-attr-id="{{sensor+monitor.monitorID}}"></sensorsettings>
        </div>
    </div>
</div>