<table class="settingsTable" width="100%">
    <tr>
        <td><strong>Unit:</strong></td>
        <td>
            <span ng-hide='sensorUnitEdit'>{{monitor[sensor].unit}}</span>
            <select ng-show='sensorUnitEdit' class="form-control" id="sensorUnitSelect" ng-model="selectedUnit">
                <option ng-repeat="unit in units" ng-value='unit'>
                    <span>{{unit}}</span>
                </option>
            </select>
        </td>
        <td>
            <i class="fa fa-pencil-square-o editButton" ng-hide='sensorUnitEdit || !monitor.status' 
            ng-click='getSensorUnits(sensor);toggleSensorUnitEdit()'></i> 
            <i class="fa fa-check editButton" ng-hide='!sensorUnitEdit' 
            ng-click="editSensorUnit(sensor,selectedUnit)"></i>
            <i class="fa fa-times editButton" ng-hide='!sensorUnitEdit' ng-click='deactivateEdit()'></i>
        </td>
    </tr>
    <tr>
        <td><strong>Lower Bound:</strong></td>
        <td>
            <span ng-hide='lBoundEdit'>{{getConvertedReading(sensor,monitor[sensor].unit,monitor[sensor].lBound)}}</span>
            <input type='text' placeholder='{{getConvertedReading(sensor,monitor[sensor].unit,monitor[sensor].lBound)}}'
            ng-hide='!lBoundEdit' ng-model="settings.newLBound"></input>
        </td>
        <td>
            <i class="fa fa-pencil-square-o editButton" ng-hide='lBoundEdit || !monitor.status' 
            ng-click='toggleLBoundEdit()'></i> 
            <i class="fa fa-check editButton" ng-hide='!lBoundEdit'
            ng-click="editLBound(sensor)"></i>
            <i class="fa fa-times editButton" ng-hide='!lBoundEdit' ng-click='deactivateEdit()'></i>
        </td>
    </tr>
    <tr>
        <td><strong>Upper Bound:</strong></td>
        <td>
            <span ng-hide='uBoundEdit'>{{getConvertedReading(sensor,monitor[sensor].unit,monitor[sensor].uBound)}}</span>
            <input type='text' placeholder='{{getConvertedReading(sensor,monitor[sensor].unit,monitor[sensor].uBound)}}' 
            ng-hide='!uBoundEdit' ng-model="settings.newUBound"></input>
        </td>
        <td>
            <i class="fa fa-pencil-square-o editButton" ng-hide='uBoundEdit || !monitor.status' ng-click='toggleUBoundEdit()'></i>
            <i class="fa fa-check editButton" ng-hide='!uBoundEdit' 
            ng-click="editUBound(sensor)"></i>
            <i class="fa fa-times editButton" ng-hide='!uBoundEdit' ng-click='deactivateEdit()'></i>
        </td>
    </tr>
</table>
<div class="calibrationTitle">
    <span class="col-md-offset-5 col-sm-offset-5 col-xs-offset-5">Calibration</span>    
</div>
<table class="calibrationTable" width="100%">
    <tr>
        <td>
        </td>
        <td>
            <span class="calibrationPointButton" ng-class="{'active':calibrationPoint=='firstPoint'}"  
            ng-click="setCalibrationData(sensor, 'firstPoint')">1</span> 
            <span class="calibrationPointButton" ng-class="{'active':calibrationPoint=='secondPoint'}"  
            ng-click="setCalibrationData(sensor, 'secondPoint')">2</span> 
            <span class="calibrationPointButton" ng-class="{'active':calibrationPoint=='thirdPoint'}" 
            ng-click="setCalibrationData(sensor, 'thirdPoint')">3</span>             
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <div ng-hide="calibrationEdit">
                {{calibrationDate | date:'yyyy-MM-dd'}}
            </div>
        </td>
        <td>
            <div ng-hide="calibrationEdit">
                {{calibrationValue+' '+monitor[sensor].unit}}     
            </div>
            <div ng-hide="!calibrationEdit">
                <select class="form-control" id="calibrationSelect" ng-model="settings.newCalibration"
                ng-hide="calibrationOptions.length==0">
                    <option ng-repeat="value in calibrationOptions" value='{{value}}'> 
                        <span>{{value}}</span>
                    </option>
                </select>
                <input width:"80%" type='number' placeholder='{{calibrationValue}}' ng-hide='!calibrationOptions.length==0'
                ng-model="settings.newCalibration"></input>
            </div>
        </td>
        <td>
            <div ng-hide="calibrationEdit || !monitor.status"><!--meter || !mainRPi.status-->
                <i class="fa fa-pencil-square-o editButton" ng-hide='monitorNameEdit || !monitor.status' ng-click='toggleCalibrationEdit()'></i>
            </div>
            <div ng-hide="!calibrationEdit">
                <i class="fa fa-check editButton" ng-click='editCalibration(sensor)'></i>
                <i class="fa fa-times editButton" ng-click='deactivateEdit()'></i>
            </div>
            
        </td>
    </tr>
</table>    
